


{% extends "layouts/base.html" %}

{% block title %} Emails {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}


{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Voter List</h5>
                            <!-- {{fromDate}}
                            {{toDate}} -->
                            <a class="btn btn-danger float-right" href="{% url 'upstaged_data:all-invalid-emails' %}">Invalid Emails</a>
                            <a class="btn btn-success float-right" href="{% url 'upstaged_data:all-verified-emails' %}">Valid Emails</a>
                            <a class="btn btn-warning float-right" href="{% url 'upstaged_data:all-pending-emails' %}">Pending Verification</a>
                            <a class="btn btn-info float-right" href="{% url 'upstaged_data:verification-emails-list' %}">Send Emails</a>
                            <a class="btn btn-info float-right" href="{% url 'upstaged_data:send_bulk-email' %}">Send Bulk Email</a>
                            <a class="btn btn-primary float-right" href="{% url 'upstaged_data:unique-emails' %}">All Emails</a>
                            <a class="btn btn-primary float-right" href="{% url 'upstaged_data:export-voters' %}">Export</a>
                            <!-- <form method="GET" action="{% url 'upstaged_data:date-wise-emails' %}">
                               {% csrf_token %}
                                <label for="from">From</label>
                                <input type="text" id="from" name="fromDate">
                                <label for="to">to</label>
                                <input type="text" id="to" name="toDate">
                                <input type="submit" id="date-sub-btn"/>
                            </form> -->
                            
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Tables</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Basic Tables</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ Hover-table ] start -->
                    <div class="col-xl-12">
                        
                        <div class="card">
                            <div class="card-header">
                                {# .... **Now the pagination section** .... #}
                                {% if is_paginated %}
                                    <nav aria-label="Page navigation example float-right">
                                        <ul class="pagination">
                                            {% if page_obj.has_previous %}
                                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                                            {% endif %}
                                            {% for i in paginator.page_range %}
                                            <!-- {% if page_obj.number == i %}
                                              <li class="active page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                            {% else %}
                                              <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                            {% endfor %} -->
                                            <span class="page-current">
                                                <li class="page-item"><a class="page-link" href="#!">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
                                            </span>
                                            {% if page_obj.has_next %}
                                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                {% endif %}
                                <a class="btn btn-dark float-right" href="{% url 'upstaged_data:email-load' %}">Load data</a>

                            </div>
                            
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Serial</th>
                                                <th>Title</th>
                                                <th>Email</th>
                                                <th>Updated at</th>
                                                <th>Email Confirmed</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for user in object_list %}
                                                <tr>
                                                    <td>{{forloop.counter0|add:page_obj.start_index }} </td>
                                                    <td>{{ user.name }}</td>
                                                    <td>{{ user.email }}</td>
                                                    <td>{{ user.updated_at }}</td>
                                                    <td>
                                                        {% if user.email_confirmed %}
                                                            <i class="fas fa-circle text-c-green f-10 m-r-15"></i>
                                                            <span class="text-success">{{ user.email_confirmed }}</span>
                                                        {% else %}
                                                            <i class="fas fa-circle text-c-red f-10 m-r-15"></i>
                                                            <span class="text-danger">{{ user.email_confirmed }}</span>
                                                        {% endif %}
                                                    </td>

                                                    <td>
                                                        {% if user.email_confirmed %}
                                                            <span class="text-success">Valid Email</span>
                                                        {% elif user.verification_pending and user.is_email_sent  %}
                                                            <span class="text-warning">Verification Pending / Verificaiton email sent</a>
                                                        {% elif user.invalid %}
                                                            <span class="text-c-red">Invalid email</a>
                                                        {% else %}
                                                            <span class="text-warning">Verification Pending</a>
                                                            <a class="label theme-bg text-white f-12" href="{% url 'upstaged_data:send_email_cnfrm' user.id %}">Send Activation Email</a>
                                                        {% endif%}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Hover-table ] end -->

                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 3
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 3
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
  } );
  </script>
{% endblock javascripts %}
