{% extends 'base.html' %}

{% block content %}
<h3 class="text-center">Event: {{ question.event_text }}</h1><br>
<div class="text-center">
    <img src="https://via.placeholder.com/600x250"/>
</div>
<h4>Poll: {{ question.question_text }}</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input type="submit" value="Vote" class="btn btn-success">
</form><br>
<a href="{% url 'polls:results' question.id %}" class="btn btn-primary">Result</a>

{% endblock content %}
