{% extends 'base.html' %}


{% block content %}
      <form class="form-signin" method="POST">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
        <div class="form-label-group">
            {{form.email}}
          <label for="inputEmail">Email address</label>
        </div>
      
        <div class="form-label-group">
            {{form.password}}
          <label for="inputPassword">Password</label>
        </div>
      
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <a href="{% url 'password_reset' %}" class="btn-block">Forget Password ?</a>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <a href="{% url 'register' %}" class="btn btn-lg btn-primary btn-block">Register</a>
        <a href="#" class="btn btn-lg btn-primary btn-block">Gmail Login</a>
        <a href="#" class="btn btn-lg btn-primary btn-block">Facebook Login</a>

        <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2020</p>
      </form>
{% endblock content %}
