{% block title %}Set New Password {% endblock %}

{% block form_content %}
<div class="text-center">
  {% if validlink %}
  <h2>Set new password</h2>
    <form class="form-signin" method="POST">
      {% csrf_token %}
      <div class="form-error">
        {{form.errors}}
      </div>
      {{ form.new_password1 }}
      {{ form.new_password2 }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
</div>
{% endblock form_content %}