
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a href="/dashboard/" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    <span class="b-title">CRM (Voting)</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                        class="nav-item {% if 'index' in segment %} active {% endif %}">
                        <a href="{% url 'dashboard:voting-dashboard' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span>
                            <span class="pcoded-mtext">Dashboard</span></a>
                    </li>

                    <li class="nav-item pcoded-menu-caption">
                        <label>Forms & table</label>
                    </li>
                    {% if user.is_active and user.is_superuser  %}

                    <li data-username="Table bootstrap datatable footable" 
                        class="nav-item {% if 'tables' in segment %} active {% endif %}">
                        <a href="{% url 'upstaged_data:data-sheet-upload' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Data-Sheet Upload</span></a>
                    </li>
                    <!-- <li data-username="Table bootstrap datatable footable" 
                        class="nav-item {% if 'tables' in segment %} active {% endif %}">
                        <a href="{% url 'memail:email' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Send Email</span></a>
                    </li> -->
                    <li data-username="Table bootstrap datatable footable" 
                        class="nav-item {% if 'tables' in segment %} active {% endif %}">
                        <a href="{% url 'upstaged_data:find-duplicates' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Duplicate Votes - Sheet upload</span></a>
                    </li>
                    {% endif %}
                    <li data-username="Table bootstrap datatable footable" 
                        class="nav-item {% if 'tables' in segment %} active {% endif %}">
                        <a href="{% url 'upstaged_data:unique-emails' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Voters</span></a>
                    </li>
                    <li data-username="Table bootstrap datatable footable" 
                        class="nav-item {% if 'tables' in segment %} active {% endif %}">
                        <a href="{% url 'upstaged_data:ip-address-list' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">IP Address</span></a>
                    </li>
                    
                    <li data-username="Table bootstrap datatable footable" 
                        class="nav-item {% if 'tables' in segment %} active {% endif %}">
                        <a href="{% url 'upstaged_data:duplicate-vote-list' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Duplicate Votes</span></a>
                    </li>
                    <li data-username="Table bootstrap datatable footable" 
                        class="nav-item {% if 'tables' in segment %} active {% endif %}">
                        <a href="{% url 'upstaged_data:data-sheet' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Data Sheet-Copy</span></a>
                    </li>
                    {% if user.is_active and user.is_superuser  %}

                    <li data-username="Table bootstrap datatable footable" 
                        class="nav-item {% if 'tables' in segment %} active {% endif %}">
                        <a href="/admin/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Go to admin</span></a>
                    </li>
                    {% endif %}
                    {% if request.user.email %}
                    <li data-username="Disabled Menu" class="nav-item">
                        <a href="{% url 'accounts:logout' %}" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-power"></i>
                            </span>
                            <span class="pcoded-mtext">Logout - [ {{ request.user.first_name }} ]</span>
                        </a>
                    </li>
                    {% endif %}
                    
                </ul>
            </div>
        </div>
    </nav>
