{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
<title>{% block title %}1FS - UpStaged{% endblock title %}</title>
<meta name="author" content="">

{% block css %}
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.1/examples/cover/cover.css" rel="stylesheet">
    
    <link rel="stylesheet" href="/static/assets/css/mycustom.css">
{% endblock %}
</head>

<body class="text-center">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">

      <div class="inner">
        <h3 class="masthead-brand">1FS - UEG</h3>
        <nav class="nav nav-masthead justify-content-center">

          <a class="nav-link active" href="#">Help</a>
         
        </nav>
      </div>

    </header>

    <main role="main" class="inner cover">
      {% block content %}



      {% endblock content %}

    </main>

    <footer class="mastfoot mt-auto">
      <div class="date-n-verion">
        <p><span class=""> {% now "jS F Y " %} V 1.0</span></p>
      </div>
      <div class="inner">
        <p>In Collabration with 1FS Partners</p>
      </div>
    </footer>
  </div>
  {% block javascript %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>

  <!-- 3rd party JavaScript -->
  <script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
  <!-- Project JS -->

    {% endblock javascript %}

  </body>
</html>
