{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% block content %}


{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    <li>{{ question.question_text }}<br>
        <a href="{% url 'polls:detail' question.id %}" class="btn btn-success">Vote</a>  
        <a href="{% url 'polls:results' question.id %}" class="btn btn-primary">Result</a></li><br>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock content %}
