{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
.table-g2pv, .table-g4pv {
	background: lightseagreen;
    color: black;
}
.table-g1pv, .table-g3pv {
	background: lightblue;
    color: black;
}
</style>

{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="card">
                        <div class="card-header">
                            <h5>Overview</h5>
                        </div>
                    </div>

                                
                    <div class="row">
                        <!--[ daily sales section ] start-->
                        <div class="col-md-4 col-xl-2">
                            <div class="card daily-sales">
                                <div class="card-block">
                                    <h6 class="mb-4">Total Votes</h6>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-9">
                                            <h3 class="f-w-300 d-flex align-items-center m-b-0">{{total_votes}}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ daily sales section ] end-->
                        <!--[ Monthly  sales section ] starts-->
                        <div class="col-md-4 col-xl-2">
                            <div class="card Monthly-sales">
                                <div class="card-block">
                                    <h6 class="mb-4">Total Voters</h6>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-9">
                                            <h3 class="f-w-300 d-flex align-items-center  m-b-0">{{total_voters}}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ Monthly  sales section ] end-->
                        <!--[ year  sales section ] starts-->
                        <div class="col-md-4 col-xl-2">
                            <div class="card yearly-sales">
                                <div class="card-block">
                                    <h6 class="mb-4">Authenticated Votes</h6>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-9">
                                            <h3 class="f-w-300 d-flex align-items-center  m-b-0">{{auth_votes}} ({{auth_votes_percent | floatformat}}%)</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-xl-2">
                            <div class="card yearly-sales">
                                <div class="card-block">
                                    <h6 class="mb-4">Authenticated Voters</h6>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-9">
                                            <h3 class="f-w-300 d-flex align-items-center  m-b-0">{{auth_voters}} ({{auth_voters_percent | floatformat}}%)</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xl-2">
                            <div class="card yearly-sales">
                                <div class="card-block">
                                    <h6 class="mb-4">Pending Voters</h6>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-9">
                                            <h3 class="f-w-300 d-flex align-items-center  m-b-0">{{verification_pending}} ({{pending_voters_percent | floatformat}}%)</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xl-2">
                            <div class="card yearly-sales">
                                <div class="card-block">
                                    <h6 class="mb-4">Disqualified Voters</h6>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-9">
                                            <h3 class="f-w-300 d-flex align-items-center  m-b-0">{{invalid_voters}} ({{invalid_voters_percent | floatformat}}%)</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ year  sales section ] end-->
                        <!--[ Recent Users ] start-->
                        <div class="col-xl-12 col-md-12 m-b-30">

                            <div class="card Recent-Users" >
                                <div class="card-header">
                                    <h5>Recent Games</h5>
                                    <span class="float-right"><b>Last Status Updated :</b> {{last_status_updated_dashboard}} UTC</span>
                                </div>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Game</th>
                                                <th>Particiapent</th>
                                                <th>Percent</th>
                                                <th>Total Votes</th>
                                                <th class="text-success">Authenticated</th>
                                                <th class="text-warning">Pending</th>
                                                <th class="text-danger">Disqualified</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td><h6 class="m-0">Game 25</h6></td>
                                                <td class="table-g1pv"><h6 class="m-0">#2 Harvard - Opportunes </h6></td>
                                                <td class="table-g1pv">{{g25_p1_prcnt | floatformat}}%</td>
                                                <td><h6 class="m-0 text-c-dark">{{g25_harvard_total_votes}}</h6></td>
                                                <td><h6 class="m-0 text-c-dark">{{g25_harvard_auth_votes}} </h6></td>
                                                <td><h6 class="m-0 text-c-dark">{{g25_harvard_pending_votes}} </h6></td>
                                                <td><h6 class="m-0 text-c-dark">{{g25_harvard_dis_votes}}</h6></td>
                                            </tr>

                                            <tr>
                                                <td><h6 class="m-0">Game 25</h6></td>
                                                <td class="table-g1pv"><h6 class="m-0">#2 Rutgers-Raag </h6></td>
                                                <td class="table-g1pv">{{g25_p2_prcnt | floatformat}}%</td>
                                                <td><h6 class="m-0 text-c-dark">{{g25_rutgers_total_votes}}</h6></td>
                                                <td><h6 class="m-0 text-c-dark">{{g25_rutgers_auth_votes}}   </h6></td>
                                                <td><h6 class="m-0 text-c-dark">{{g25_rutgers_pending_votes}}</h6></td>
                                                <td><h6 class="m-0 text-c-dark">{{g25_rutgers_dis_votes}}  </h6></td>
                                            </tr>

                                            <tr>
                                                <td><h6 class="m-0">Game 26</h6></td>
                                                <td class="table-g2pv"><h6 class="m-0">#2 U Penn - Penn Masala </h6></td>
                                                <td class="table-g2pv">{{g26_p1_prcnt | floatformat}}%</td>
                                                <td><h6 class="m-0 text-c-dark">{{g26_penn_total_votes}}</h6></td>
                                                <td><h6 class="m-0 text-c-dark">{{g26_penn_auth_votes}}  </h6></td>
                                                <td><h6 class="m-0 text-c-dark">{{g26_penn_pending_votes}} </h6></td>
                                                <td><h6 class="m-0 text-c-dark">{{g26_penn_dis_votes}}     </h6></td>
                                            </tr>

                                            <tr>
                                                <td><h6 class="m-0">Game 26</h6></td>
                                                <td class="table-g2pv"><h6 class="m-0">#2 U illinois - No Comment </h6></td>
                                                <td class="table-g2pv">{{g26_p2_prcnt | floatformat}}%</td>
                                                <td><h6 class="m-0 text-c-dark">{{g26_illinois_total_votes}}</h6></td>
                                                <td><h6 class="m-0 text-c-dark">{{g26_illinois_auth_votes}} </h6></td>
                                                <td><h6 class="m-0 text-c-dark">{{g26_illinois_pending_votes}} </h6></td>
                                                <td><h6 class="m-0 text-c-dark">{{g26_illinois_dis_votes}} </h6></td>
                                            </tr>

                                            <tr>
                                                <td><h6 class="m-0">Game 27</h6></td>
                                                <td class="table-g3pv"><h6 class="m-0">#1 Vanderbilt - Melodores </h6></td>
                                                <td class="table-g3pv">{{g27_p1_prcnt | floatformat}}%</td>
                                                <td><h6 class="m-0 text-c-dark">{{g27_vanderbilt_total_votes}}</h6></td>
                                                <td><h6 class="m-0 text-c-dark">{{g27_vanderbilt_auth_votes}}  </h6></td>
                                                <td><h6 class="m-0 text-c-dark">{{g27_vanderbilt_pending_votes}}</h6></td>
                                                <td><h6 class="m-0 text-c-dark">{{g27_vanderbilt_dis_votes}}    </h6></td>
                                            </tr>

                                            <tr>
                                                <td><h6 class="m-0">Game 27</h6></td>
                                                <td class="table-g3pv"><h6 class="m-0">#3 Florida State - All-Night Yahtzee </h6></td>
                                                <td class="table-g3pv">{{g27_p2_prcnt | floatformat}}%</td>
                                                <td><h6 class="m-0 text-c-dark">{{g27_florida_total_votes}}</h6></td>
                                                <td><h6 class="m-0 text-c-dark">{{g27_florida_auth_votes}}   </h6></td>
                                                <td><h6 class="m-0 text-c-dark">{{g27_florida_pending_votes}} </h6></td>
                                                <td><h6 class="m-0 text-c-dark">{{g27_florida_dis_votes}} </h6></td>
                                            </tr>
                                            <tr>
                                                <td><h6 class="m-0">Game 28</h6></td>
                                                <td class="table-g4pv"><h6 class="m-0">#2 Brigham Young U-Vocal Point </h6></td>
                                                <td class="table-g4pv">{{g28_p1_prcnt | floatformat}}%</td>
                                                <td><h6 class="m-0 text-c-dark">{{g28_bringham_total_votes}}</h6></td>
                                                <td><h6 class="m-0 text-c-dark">{{g28_bringham_auth_votes}} </h6></td>
                                                <td><h6 class="m-0 text-c-dark">{{g28_bringham_pending_votes}} </h6></td>
                                                <td><h6 class="m-0 text-c-dark">{{g28_bringham_dis_votes}}  </h6></td>
                                            </tr>

                                            <tr>
                                                <td><h6 class="m-0">Game 28</h6></td>
                                                <td class="table-g4pv"><h6 class="m-0">#1 UCLA - Scattertones </h6></td>
                                                <td class="table-g4pv">{{g28_p2_prcnt | floatformat}}%</td>
                                                <td><h6 class="m-0 text-c-dark">{{g28_ucla_total_votes}}</h6></td>
                                                <td><h6 class="m-0 text-c-dark">{{g28_ucla_auth_votes}}  </h6></td>
                                                <td><h6 class="m-0 text-c-dark">{{g28_ucla_pending_votes}} </h6></td>
                                                <td><h6 class="m-0 text-c-dark">{{g28_ucla_dis_votes}}  </h6></td>
                                            </tr>
                                        </tbody>
                                    </table>


                            </div>
                        </div>
                        <!--[ Recent Users ] end-->
                  
                   
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}



{% endblock javascripts %}
